
*{
    background-color:#989898;
}
h1, address {
    background-color: #474747;
}
h2{
    background-color:#000000;
    color: #ffffff;
}

p.negro{
    background-color:#000000;
    color: #ffffff;
}
div ol,li{
    background-color:#000000;
}

p#gris{
    background-color: #474747;
    color: #000000;
}
div p{
    background-color:#000000;
    color: #ffffff;
}
div ol{
    color: #ffffff;
}
div{
    border: silver 40px solid;
    border-image-source: url(https://www.mclibre.org/consultar/htmlcss/css/ejemplos/img/css3-bordes/hormigas-210.png);
    
    border-image-slice: 70;
    border-image-repeat: repeat;

  padding: 10px;
  text-align: justify;
}
hr{
    height: 100px; /*Porque si*/
}